@font-face {
  font-family: Harlow Solid Italic;
  src: url("/static/fonts/HARLOWSI.TTF");
  font-weight: regular;
}
@font-face {
  font-family: NEON;
  src: url("/static/fonts/NEON.TTF");
  font-weight: regular;
}
@font-face {
  font-family: Neoneon;
  src: url("/static/fonts/NEONEON.OTF");
  font-weight: regular;
}

html,
body {
  /* Full height */
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Harlow Solid Italic"; 

  /* Location of the image */
  background-image: url("/static/img/brick_wall.png");

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
}

p {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 4vw;
}

svg {
  border: 0;
  margin: 0;
  padding: 0;
}


.neonGlowTextPurple {
  color: #fff;
  animation: purpleNeonText 2.5s ease-in-out infinite alternate;
}

@keyframes purpleNeonText {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6200ff, 0 0 70px #6200ff, 0 0 80px #6200ff, 0 0 100px #6200ff, 0 0 150px #6200ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6200ff, 0 0 35px #6200ff, 0 0 40px #6200ff, 0 0 50px #6200ff, 0 0 75px #6200ff;
  }
}

.neonGlowTextPink {
  color: #fff;
  animation: pinkNeonText 2.5s ease-in-out infinite alternate;
}

@keyframes pinkNeonText {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00ea, 0 0 70px #ff00ea, 0 0 80px #ff00ea, 0 0 100px #ff00ea, 0 0 150px #ff00ea;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ea, 0 0 35px #ff00ea, 0 0 40px #ff00ea, 0 0 50px #ff00ea, 0 0 75px #ff00ea;
  }
}

.neonGlowBoxPurple {
  color: #fff;
  animation: purpleNeon 2.5s ease-in-out infinite alternate;
}

@keyframes purpleNeonBox {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6200ff, 0 0 70px #6200ff, 0 0 80px #6200ff, 0 0 100px #6200ff, 0 0 150px #6200ff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6200ff, 0 0 35px #6200ff, 0 0 40px #6200ff, 0 0 50px #6200ff, 0 0 75px #6200ff;
  }
}

.neonGlowBoxPink {
  color: #fff;
  animation: pinkNeonBox 2.5s ease-in-out infinite alternate;
}

@keyframes pinkNeonBox {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00ea, 0 0 70px #ff00ea, 0 0 80px #ff00ea, 0 0 100px #ff00ea, 0 0 150px #ff00ea;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ea, 0 0 35px #ff00ea, 0 0 40px #ff00ea, 0 0 50px #ff00ea, 0 0 75px #ff00ea;
  }
}


.content {
  position: fixed;
  bottom: 0;
  /* height: 100vh; */
  width: 100vw;
  /* font-size: 7.5vh; */
  color: white;
}

.flexbox-mainLogo{
  border: 5px solid mediumvioletred;
  position: fixed;
  /* justify-self: center;
  align-self: center; */
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* bottom: 50%;
  right: 50%; */
}

.flexbox-content {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  border: 5px solid mediumvioletred;
}

.flexbox-sensors {
  border: 5px solid mediumvioletred;
  /* margin: auto; */
  position: absolute;
  bottom: 0;
  left: 5vw;
  justify-content: flex-end;
  align-content: flex-end;
  justify-items: flex-end;
}

.flexbox-item-beerButton {
  border: 5px solid mediumvioletred;
  /* margin: auto; */
  position: absolute;
  /* align-self: flex-end; */
  bottom: 0vh;
  right: 5vw;
}
