@font-face {
  font-family: Harlow;
  src: url("/static/fonts/HARLOWSI.TTF");
  font-weight: regular;
}

html,
body {
  /* Full height */
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* FIXME */
  font-family: "Harlow"; 
  /* src: "{{ url_for('static', filename='/fonts/HARLOWSI.TTF') }}"; */

  /* Location of the image */
  background-image: url("/static/img/brick_wall.png");

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
}

p {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.content {
  position: absolute;
  bottom:0vh;
  width: 100vw;
  font-size: 7.5vh;
  color: white;
}

.neonGlow {
  /* text-shadow: 0px 0px 1px #6302ff,
               0px 0px 2px #6302ff,
               0px 0px 3px #6302ff,
               0px 0px 5px #6302ff,
               0px 0px 7px #6302ff,
               0px 0px 10px #6302ff,
               0px 0px 15px #6302ff,
               0px 0px 20px #6302ff,
               0px 0px 30px #6200ff; */
               color: #fff;
-webkit-animation: purpleNeon 2.5s ease-in-out infinite alternate;
-moz-animation: purpleNeon 2.5s ease-in-out infinite alternate;
animation: purpleNeon 2.5s ease-in-out infinite alternate;
}

@-webkit-keyframes purpleNeon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6200ff, 0 0 70px #6200ff, 0 0 80px #6200ff, 0 0 100px #6200ff, 0 0 150px #6200ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6200ff, 0 0 35px #6200ff, 0 0 40px #6200ff, 0 0 50px #6200ff, 0 0 75px #6200ff;
  }
}
              
.flexbox-content {
  display: flex;
  justify-content: space-evenly;
  /* border: 5px solid mediumvioletred; */
}

.flexbox-sensors {
  /* border: 5px solid mediumvioletred; */
  /* margin: auto; */
  position: fixed;
  bottom: 0vh;
  left: 5vw;
  justify-content: center;
}

.flexbox-item-beerButton {
  /* border: 5px solid mediumvioletred; */
  margin: auto;
  position: fixed;
  bottom: 0vh;
  right: 5vw;
}
