@font-face {
  font-family: Harlow Solid Italic;
  src: url("/static/fonts/HARLOWSI.TTF");
  font-weight: regular;
}
@font-face {
  font-family: NEON;
  src: url("/static/fonts/NEON.TTF");
  font-weight: regular;
}

html,
body {
  /* Full height */
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Harlow Solid Italic"; 

  /* Location of the image */
  background-image: url("/static/img/brick_wall.png");

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
}

p {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 4vw;
}

svg {
  border: 0;
  margin: 0;
  padding: 0;
}

.neonGlowTextPurple {
  color: #fff;
  text-shadow: 0px 0px 3px #6302ff,
               0px 0px 5px #6302ff,
               0px 0px 7px #6302ff,
               0px 0px 10px #6302ff,
               0px 0px 15px #6302ff,
               0px 0px 30px #6200ff,
               0px 0px 60px #6200ff,
               0px 0px 150px #6200ff;
}

.neonGlowTextRed {
  color: #fff;
  text-shadow: 0px 0px 3px #f00, 0px 0px 5px #f00, 0px 0px 7px #f00, 0px 0px 10px #f00, 0px 0px 15px #f00, 0px 0px 30px #f00, 0px 0px 60px #f00, 0px 0px 150px #f00;
}

.content {
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: white;
}

.flexbox-mainLogo{
  position: fixed;
  bottom: 2%;
  left: 2%;
  right: 2%;
  top: 2%;
}

.flexbox-content {
  display: flex;
  justify-content: space-between;
}

.flexbox-sensors {
  position: absolute;
  bottom: 0;
  left: 5vw;
  justify-content: flex-end;
  align-content: flex-end;
  justify-items: flex-end;
}

.flexbox-item-beerButton {
  position: absolute;
  bottom: 0vh;
  right: 2vw;
}

/* 
#spoutControl_secret {
  -webkit-animation: hideBeerButton 4s step-end forwards;
  -moz-animation: hideBeerButton 4s step-end forwards;
  -o-animation: hideBeerButton 4s step-end forwards;
  animation: hideBeerButton 4s step-end forwards;
}*/

#crossBones {
  position: fixed;
  bottom: 0;
  right: 2vw;
  /* -webkit-animation: showSecretButton 4s step-end forwards;
  -moz-animation: showSecretButton 4s step-end forwards;
  -o-animation: showSecretButton 4s step-end forwards;
  animation: showSecretButton 4s step-end forwards; */
}
/*
#neonGlowText_secret {
  -webkit-animation: changeToRed 4s step-end forwards;
  -moz-animation: changeToRed 4s step-end forwards;
  -o-animation: changeToRed 4s step-end forwards;
  animation: changeToRed 4s step-end forwards;
} */

#backArrow {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: showSecretButton 4s step-end forwards;
  -moz-animation: showSecretButton 4s step-end forwards;
  -o-animation: showSecretButton 4s step-end forwards;
  animation: showSecretButton 4s step-end forwards;
}
/* 
.flickering_secret {
  -webkit-animation: flicker_secret 4s step-end forwards;
  -moz-animation: flicker_secret 4s step-end forwards;
  -o-animation: flicker_secret 4s step-end forwards;
  animation: flicker_secret 4s step-end forwards;
} */

/* #secret_content{
  -webkit-animation: glitch 3s step-end alternate-reverse infinite;
  -moz-animation: glitch 3s step-end alternate-reverse infinite;
  -o-animation: glitch 3s step-end alternate-reverse infinite;
  animation: glitch 3s step-end alternate-reverse infinite;
}

#secret_content:before,
#secret_content:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#secret_content:before{
  -webkit-animation: glitchTop 3s step-end alternate-reverse infinite;
  -moz-animation: glitchTop 3s step-end alternate-reverse infinite;
  -o-animation: glitchTop 3s step-end alternate-reverse infinite;
  animation: glitchTop 3s step-end alternate-reverse infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

#secret_content:after{
  -webkit-animation: glitchBottom 3s step-end alternate-reverse infinite;
  -moz-animation: glitchBottom 3s step-end alternate-reverse infinite;
  -o-animation: glitchBottom 3s step-end alternate-reverse infinite;
  animation: glitchBottom 3s step-end alternate-reverse infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@-webkit-keyframes glitch{
  2%,64%{ transform: translate(5px,0) skew(0deg);
  }
  1%,59%{
    transform: translate(-14px,0) skew(-10deg);
  }
  5%,70%{
    transform: translate(-20px,-20px) skew(-10deg);
  }
  4%,7%,60%,73%{
    transform: translate(0,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
  65%{
    transform: translate(0,0) skew(0deg);
  }
}

@-moz-keyframes glitch{
  2%,64%{ transform: translate(5px,0) skew(0deg);
  }
  1%,59%{
    transform: translate(-14px,0) skew(-10deg);
  }
  5%,70%{
    transform: translate(-20px,-20px) skew(-10deg);
  }
  4%,7%,60%,73%{
    transform: translate(0,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
  65%{
    transform: translate(0,0) skew(0deg);
  }
}

@-o-keyframes glitch{
  2%,64%{ transform: translate(5px,0) skew(0deg);
  }
  1%,59%{
    transform: translate(-14px,0) skew(-10deg);
  }
  5%,70%{
    transform: translate(-20px,-20px) skew(-10deg);
  }
  4%,7%,60%,73%{
    transform: translate(0,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
  65%{
    transform: translate(0,0) skew(0deg);
  }
}

@keyframes glitch{
  2%,64%{ transform: translate(5px,0) skew(0deg);
  }
  1%,59%{
    transform: translate(-14px,0) skew(-10deg);
  }
  5%,70%{
    transform: translate(-20px,-20px) skew(-10deg);
  }
  4%,7%,60%,73%{
    transform: translate(0,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
  65%{
    transform: translate(0,0) skew(0deg);
  }
}

@-webkit-keyframes glitchTop{
  2%,64%{
    transform: translate(20px,-50px);
  }
  4%,60%{
    transform: translate(45px,8vh);
  }
  62%{
    transform: translate(10px,-40px) skew(-13deg); 
  }
}

@-moz-keyframes glitchTop{
  2%,64%{
    transform: translate(20px,-50px);
  }
  4%,60%{
    transform: translate(45px,8vh);
  }
  62%{
    transform: translate(10px,-40px) skew(-13deg); 
  }
}

@-o-keyframes glitchTop{
  2%,64%{
    transform: translate(20px,-50px);
  }
  4%,60%{
    transform: translate(45px,8vh);
  }
  62%{
    transform: translate(10px,-40px) skew(-13deg); 
  }
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(20px,-50px);
  }
  4%,60%{
    transform: translate(45px,8vh);
  }
  62%{
    transform: translate(10px,-40px) skew(-13deg); 
  }
}

@-webkit-keyframes glitchBottom{
  2%,64%{
    transform: translate(-10px,0);
  }
  4%,60%{
    transform: translate(15px,0);
  }
  62%{
    transform: translate(-22px,15px) skew(21deg);
  }
}

@-moz-keyframes glitchBottom{
  2%,64%{
    transform: translate(-10px,0);
  }
  4%,60%{
    transform: translate(15px,0);
  }
  62%{
    transform: translate(-22px,15px) skew(21deg);
  }
}

@-o-keyframes glitchBottom{
  2%,64%{
    transform: translate(-10px,0);
  }
  4%,60%{
    transform: translate(15px,0);
  }
  62%{
    transform: translate(-22px,15px) skew(21deg);
  }
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-10px,0);
  }
  4%,60%{
    transform: translate(15px,0);
  }
  62%{
    transform: translate(-22px,15px) skew(21deg);
  }
} */
/* 
#secret_content{
  position:absolute;
  width:98vw;
  height:98vh;
  background: url('/static/img/craggs_lounge_secret.svg');
  background-size:100%;
}
#secret_content:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:98vw;
  height:98vh;
  background: url('/static/img/craggs_lounge_secret.svg');
  background-size:100%;
  opacity:.5;
  mix-blend-mode:hard-light;
  animation:animate .2s linear infinite;
}
@keyframes animate{
	0%{
	background-position: 0 0;
	filter:hue-rotate(0deg);
	}
	10%{
	background-position: 5px 0;
	}
	20%{
	background-position: -5px 0;
	}
	30%{
	background-position: 15px 0;
	}
	40%{
	background-position: 5px 0;
	}
	50%{
	background-position: -25px 0;
	}
	60%{
	background-position: -50px 0;
	}
	70%{
	background-position: 0 -20px;
	}
	80%{
	background-position: -60px -20px;
	}
	81%{
	background-position: 0 0;
	}
	100%{
	background-position: 0 0;
	filter:hue-rotate(360deg);
	}
} */

/* @-webkit-keyframes hideBeerButton {
  90% {opacity: 1;}
  100% {opacity: 0;} 
}

@-moz-keyframes hideBeerButton {
  90% {opacity: 1;}
  100% {opacity: 0;} 
}

@-o-keyframes hideBeerButton {
  90% {opacity: 1;}
  100% {opacity: 0;} 
}

@keyframes hideBeerButton {
  90% {opacity: 1;}
  100% {opacity: 0;} 
} */

@-webkit-keyframes showSecretButton {
  0% {
    opacity: 0;
    visibility: visible;
  }
  90% {opacity: 0;}
  100% {opacity: 1;} 
}

@-moz-keyframes showSecretButton {
  0% {
    opacity: 0;
    visibility: visible;
  }
  90% {opacity: 0;}
  100% {opacity: 1;} 
}

@-o-keyframes showSecretButton {
  0% {
    opacity: 0;
    visibility: visible;
  }
  90% {opacity: 0;}
  100% {opacity: 1;} 
}

@keyframes showSecretButton {
  0% {
    opacity: 0;
    visibility: visible;
  }
  90% {opacity: 0;}
  100% {opacity: 1;} 
}
/* 
@-webkit-keyframes changeToRed {
  0% {text-shadow: 0px 0px 3px, 0px 0px 5px #6302ff, 0px 0px 7px #6302ff, 0px 0px 10px #6302ff, 0px 0px 15px #6302ff, 0px 0px 30px #6200ff, 0px 0px 60px #6200ff, 0px 0px 150px #6200ff;}
  50% {text-shadow: 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px;}
  100% {text-shadow: 0px 0px 3px #ff0000, 0px 0px 5px #ff0000, 0px 0px 7px #ff0000, 0px 0px 10px #ff0000, 0px 0px 15px #ff0000, 0px 0px 30px #ff0000, 0px 0px 60px #ff0000, 0px 0px 150px #ff0000;}
}

@-moz-keyframes changeToRed {
  0% {text-shadow: 0px 0px 3px, 0px 0px 5px #6302ff, 0px 0px 7px #6302ff, 0px 0px 10px #6302ff, 0px 0px 15px #6302ff, 0px 0px 30px #6200ff, 0px 0px 60px #6200ff, 0px 0px 150px #6200ff;}
  50% {text-shadow: 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px;}
  100% {text-shadow: 0px 0px 3px #ff0000, 0px 0px 5px #ff0000, 0px 0px 7px #ff0000, 0px 0px 10px #ff0000, 0px 0px 15px #ff0000, 0px 0px 30px #ff0000, 0px 0px 60px #ff0000, 0px 0px 150px #ff0000;}
}

@-o-keyframes changeToRed {
  0% {text-shadow: 0px 0px 3px, 0px 0px 5px #6302ff, 0px 0px 7px #6302ff, 0px 0px 10px #6302ff, 0px 0px 15px #6302ff, 0px 0px 30px #6200ff, 0px 0px 60px #6200ff, 0px 0px 150px #6200ff;}
  50% {text-shadow: 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px;}
  100% {text-shadow: 0px 0px 3px #ff0000, 0px 0px 5px #ff0000, 0px 0px 7px #ff0000, 0px 0px 10px #ff0000, 0px 0px 15px #ff0000, 0px 0px 30px #ff0000, 0px 0px 60px #ff0000, 0px 0px 150px #ff0000;}
}

@keyframes changeToRed {
  0% {text-shadow: 0px 0px 3px, 0px 0px 5px #6302ff, 0px 0px 7px #6302ff, 0px 0px 10px #6302ff, 0px 0px 15px #6302ff, 0px 0px 30px #6200ff, 0px 0px 60px #6200ff, 0px 0px 150px #6200ff;}
  50% {text-shadow: 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px, 0px 0px 0px;}
  100% {text-shadow: 0px 0px 3px #ff0000, 0px 0px 5px #ff0000, 0px 0px 7px #ff0000, 0px 0px 10px #ff0000, 0px 0px 15px #ff0000, 0px 0px 30px #ff0000, 0px 0px 60px #ff0000, 0px 0px 150px #ff0000;}
}

@-webkit-keyframes flicker_secret {
  0%,to{
    opacity:1
  }
  20%{
    opacity:.2
  }
}

@-moz-keyframes flicker_secret {
  0%,to{
    opacity:1
  }
  20%{
    opacity:.2
  }
}

@-o-keyframes flicker_secret {
  0%,to{
    opacity:1
  }
  20%{
    opacity:.2
  }
}

@keyframes flicker_secret {
  0%,to{
    opacity:1
  }
  20%{
    opacity:.2
  }
} */