<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A work in progress app for a custom kegerator">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/HARLOWSI.TTF') }}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">  -->
    <title>Kegerator App In Progress</title>
    {% block head %}{% endblock %}
</head>
<body style="visibility: hidden;" onload="js_Load()">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    {% block body %}{% endblock %}
    <script>function js_Load() { document.body.style.visibility='visible'; }</script>
</body>
</html>