{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
  <div class="content">
    <div class="flexbox-content">
      <div class="flexbox-sensors">
        <p>{{temp}} &degC<br>{{pints}} pints</p>
      </div>
      <div class="flexbox-item-beerButton">
        <button class="clear-button" href="beerButton">
          <img src="/static/img/beer_stein.png">
            <!-- <a href="beerButton"> -->
          </img>
        </input>
      </div>
    </div>
  </div>
{% endblock %}
