{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type=text/javascript> $(function() { $("#spoutControl").mouseup(function (event) { $.getJSON('/endPour', { }, function(data) { }); window.location.reload(); }); }); </script>
<script type=text/javascript> $(function() { $("#spoutControl").mousedown(function (event) { $.getJSON('/beginPour', { }, function(data) { }); return false; }); }); </script>
<script>
 temp = self.setInterval(getTemp, 500);
</script>

  <div class="content">
    <div class="flexbox-content">
      <div class="flexbox-sensors">
        <p>{{temp}} &degC<br>{{pints}} pints</p>
      </div>
      <div class="flexbox-item-beerButton">
          <input type = "image" src="/static/img/beer_stein.png" id = "spoutControl" alt = "Spout Control Button" />
      </div>
    </div>
  </div>

<script>
  window.setInterval('refresh()', 60000);
  // Refresh page every 60 sec.
  function refresh() {
      window.location.reload();
  }
</script>
{% endblock %}
