d{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type=text/javascript> $(function() { $("#spoutControl").mouseup(function (event) { $.getJSON('/endPour', { }, function(data) { }); return false; }); }); </script>
<script type=text/javascript> $(function() { $("#spoutControl").mousedown(function (event) { $.getJSON('/beginPour', { }, function(data) { }); return false; }); }); </script>
<script type=text/javascript>
  var secretCounter = 0;
  function checkSecretRedirect() {
    secretCounter += 1;
    if (secretCounter >= 3) {
      window.location.href = "/secret";
    }
  }
</script>

<div class="content">
  <div class="flexbox-mainLogo">
    <image src="/static/img/craggs_lounge.svg" onclick="checkSecretRedirect()" style="max-width:100%; max-height:100%;" alt="Cool Neon Sign">
  </div>
  <div class="flexbox-content">
    <div class="flexbox-sensors">
      <p class="neonGlowTextPurple">{{temp}} &degC<br>{{pints}} pints</p>
    </div>
    <div class="flexbox-item-beerButton">
      <input type="image" src="/static/img/beer.svg" id="spoutControl" alt="Push Button for Beer"/>
    </div>
  </div>
</div>

<script>
    window.setInterval('refresh()', 60000);
    function refresh() {
        window.location.reload();
    }
</script>
{% endblock %}
