d{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type=text/javascript> $(function() { $("#spoutControl_secret").mouseup(function (event) { $.getJSON('/endPourSECRET', { }, function(data) { }); return false; }); }); </script>
<script type=text/javascript> $(function() { $("#spoutControl_secret").mousedown(function (event) { $.getJSON('/beginPourSECRET', { }, function(data) { }); return false; }); }); </script>


<div class="content">
  <a href="/">
      <img src="/static/img/back_arrow.svg" id="backArrow" alt="Left facing neon arrow" visibility="hidden"/>
  </a>
  <div class="flexbox-mainLogo">
    <image src="/static/img/craggs_lounge_secret.svg" style="max-width:100vw; max-height:100vh;" alt="Red Neon Sign">
    <!-- <img id="crossBones" src="/static/img/crossBones.svg" alt="Skull and Cross Bones Neon Sign" visibility="hidden"/> -->
  </div>
  <div class="flexbox-content">
    <div class="flexbox-sensors">
      <p class="neonGlowTextRed">{{temp}} &degC<br>{{pints}} pints</p>
    </div>
    <div class="flexbox-item-beerButton">
      <input type="image" src="/static/img/crossBones.svg" id="spoutControl_secret" alt="Push Button for SECRET"/>
    </div>
  </div>
</div>
{% endblock %}
