d{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<script type=text/javascript> $(function() { $("#spoutControl_secret").mouseup(function (event) { $.getJSON('/endPourSECRET', { }, function(data) { }); return false; }); }); </script>
<script type=text/javascript> $(function() { $("#spoutControl_secret").mousedown(function (event) { $.getJSON('/beginPourSECRET', { }, function(data) { }); return false; }); }); </script>


<div class="content" id="secret_content">
  <div class="flexbox-mainLogo">
    <image src="/static/img/craggs_lounge_secret.svg" style="max-width:100%; max-height:100%; width:100%;" alt="Neon sign with sunset and palm tree, text: Cragg's Lounge, servin' dreams since 1982">
    <img id="crossBones" src="/static/img/crossBones.svg" alt="Skull and Cross Bones Neon Sign" visibility="hidden"/>
    <a href="/">
        <img src="/static/img/back_arrow.svg" id="backArrow" alt="Left facing neon arrow" visibility="hidden"/>
    </a>
  </div>
  <div class="flexbox-content">
    <div class="flexbox-sensors">
      <p id="neonGlowText_secret">{{temp}} &degC<br>{{pints}} pints</p>
    </div>
    <div class="flexbox-item-beerButton">
      <input type="image" src="/static/img/beer_secret.svg" id="spoutControl_secret" alt="Push Button for SECRET"/>
    </div>
  </div>
</div>
{% endblock %}
